@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Services.IAccountService AccountService
<BlazoredToasts />

    @if (LoggedIn)
    {
        <!-- nav -->
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main app-container">

            <Alert />

            <div class="content px-4">
                @Body
            </div>
        </div>
    }
    else
    {

        <div class="container">
            <Alert />
            @Body
        </div>
    }





@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}