@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject Services.IAccountService AccountService
<BlazoredToasts />



    <Alert />

    <div class="container">
        @if (LoggedIn)
        {
            <!-- nav -->
            <div class="sidebar">
                <NavMenu />
            </div>
        }
        @Body
    </div>


@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}