@page "/warehouse/{Id:int}/delete"
@inject Services.WarehouseService warehouseService
@inject NavigationManager NavManager
@using Anthurium.Web.Pages
@using Anthurium.API.Dtos
@inject IToastService toastService

<h4>Are you sure you want to delete this?</h4>

@if (warehouse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row m-2">
        <table class="table table-hover table-responsive table-striped">
            <thead>

                <tr>
                    <th scope="col">Record Type</th>
                    <th scope="col">Record Info</th>
                </tr>


            </thead>
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@warehouse.WarehouseId</td>
                </tr>
                <tr>
                    <th class="info">Warehouse Name</th>
                    <td>@warehouse.WarehouseName</td>
                </tr>
                <tr>
                    <th class="info">Warehouse Code</th>
                    <td>@warehouse.WarehouseCode</td>
                </tr>

            </tbody>

        </table>
        <!--TODO Add warning on how many job order and  job quotations here-->
    </div>
    <div class="row m-2">
        <div class="col-12">
            <button @onclick="OnDeleteButtonClick" class="btn btn-danger btn-sm">Yes</button>
            <a class="btn btn-primary active btn-sm " role="button" aria-pressed="true" href="/warehouse">Return to List</a>
        </div>
    </div>
}



@code {
    [Parameter]
    public int Id { get; set; }

    private WarehouseReadDto warehouse;

    protected override async Task OnInitializedAsync()
    {
        warehouse = await warehouseService.GetWarehouseByIdAsync(Id);
    }

    private async void OnDeleteButtonClick()
    {

        await warehouseService.DeleteWarehouseByIdAsync(Id);
        toastService.ShowWarning($"warehouse : {warehouse.WarehouseName} is deleted.");
        NavManager.NavigateTo("/warehouse");
    }
}
