@page "/"
@namespace Anthurium.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LightSails - Job Order</title>
    <base href="~/" />


    @{

        string test = HttpContext.Request.Path;

        if (test == "/joborder/print")
        {

            <link rel="stylesheet" href="css/pages/joborderprint.css" />
        }
        else
        {
            <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
            <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
            <link href="css/site.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        }


    }

</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    <script src="~/download.js"></script>
</body>
</html>
