@inherits LayoutComponentBase
@layout MainLayout
@inject Services.IAccountService AccountService
@inject NavigationManager NavigationManager


<div class="">
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AccountService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
}