
span.cls_002 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(37,49,56);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_002 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(37,49,56);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_014 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(0,0,255);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_014 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(0,0,255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_015 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_015 {
    font-family: Tahoma,serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_005 {
    font-family: "Calibri Bold",serif;
    font-size: 12.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_005 {
    font-family: "Calibri Bold",serif;
    font-size: 12.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_008 {
    font-family: "Calibri Bold",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_008 {
    font-family: "Calibri Bold",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_006 {
    font-family: "Calibri",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_006 {
    font-family: "Calibri",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_007 {
    font-family: "Calibri Bold",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_007 {
    font-family: "Calibri Bold",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_009 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 10.1px;
    color: rgb(255,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_009 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 10.1px;
    color: rgb(255,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_010 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_010 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_011 {
    font-family: "Calibri",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_011 {
    font-family: "Calibri",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_012 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_012 {
    font-family: "Calibri Bold Italic",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_016 {
    font-family: "Calibri",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: underline
}

div.cls_016 {
    font-family: "Calibri",serif;
    font-size: 11.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_013 {
    font-family: "Calibri Italic",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_013 {
    font-family: "Calibri Italic",serif;
    font-size: 10.1px;
    color: rgb(0,0,0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}