@page "/clientinformation/{Id:int}"
@inject Services.ClientInformationService clientInformationService
@using Anthurium.API.Dtos

<h3>Client Id: @Id.ToString()</h3>

@if (clientInformationReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">

    </div>
    <div class="row">
        


        <table class="table table-bordered success">
            <thead>
                <tr>
                    <th>Id</th>
                    <td>@clientInformationReadDto.ClientInformationId</td>
                </tr>
                <tr>
                    <th class="info">Company Name</th>
                    <td>@clientInformationReadDto.CompanyName</td>
                </tr>
                <tr>
                    <th class="info">Company Address</th>
                    <td>@clientInformationReadDto.CompanyAddress</td>
                </tr>

            </thead>

        </table>

    </div>
    <div class="row">
        <div class="col-4">
            <a href="/clientinformation" class="btn btn-sm btn-secondary">Return to List</a>
        </div>
        <div class="col-sm-8 text-right">
            <a href="/clientinformation/@Id/edit" class="btn btn-sm btn-secondary">Edit</a>
        </div>
    </div>


}

@code {
    [Parameter]
    public int Id { get; set; }

    private ClientInformationReadDto clientInformationReadDto;

    protected override async Task OnInitializedAsync()
    {
        clientInformationReadDto = await clientInformationService.GetClientInformationByIdAsync(Id);
    }
}
