@page "/joborder/print"
@layout PdfLayout
@inherits JobOrderByClientIdPrintComponent

<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="http://localhost:5002/ezgif-com-gif-maker.png" width="250" height="70">
    </div>
    <div style="position:absolute;left:290.90px;top:36.00px" class="cls_002"><span class="cls_002">Ground Floor, Building 4, JDN Square</span></div>
    <div style="position:absolute;left:291.10px;top:48.03px" class="cls_002"><span class="cls_002">P.Remedio St, Mandaue City, 6014 Cebu</span></div>
    <div style="position:absolute;left:288.10px;top:60.22px" class="cls_002"><span class="cls_002">Mobile: +63 915 1035 925</span><span class="cls_014"> | </span><span class="cls_015">Telephone</span><span class="cls_002">: 032 3191797</span></div>
    <div style="position:absolute;left:288.10px;top:72.22px" class="cls_002"><span class="cls_002">Email: </span><a href="mailto:sales@lightsailits.com">sales@lightsailits.com</A><span class="cls_002"> | <a href="mailto:jzafra@lightsailits.com">jzafra@lightsailits.com</A> </span></div>
    <div style="position:absolute;left:277.67px;top:110.42px" class="cls_005"><span class="cls_005">JOB ORDER</span></div>
    <div style="position:absolute;left:407.52px;top:139.03px" class="cls_008"><span class="cls_008">J.O No.</span></div>
    <div style="position:absolute;left:474.75px;top:139.03px" class="cls_006"><span class="cls_006">LS-021</span></div>
    <div style="position:absolute;left:243.08px;top:162.85px" class="cls_007"><span class="cls_007">CUSTOMER INFORMATION:</span></div>
    <div style="position:absolute;left:72.03px;top:188.85px" class="cls_008"><span class="cls_008">COMPANY NAME:</span></div>
    <div style="position:absolute;left:160.65px;top:188.85px" class="cls_008"><span class="cls_008">_______________________________________      Contact Person: ____________________</span></div>
    <div style="position:absolute;left:72.03px;top:216.85px" class="cls_008"><span class="cls_008">COMPANY ADDRESS: _______________________________________      Contact No.:</span></div>
    <div style="position:absolute;left:438.75px;top:216.85px" class="cls_008"><span class="cls_008">____________________</span></div>
    <div style="position:absolute;left:254.27px;top:256.87px" class="cls_007"><span class="cls_007">WORK INFORMATION:</span></div>
    <div style="position:absolute;left:72.03px;top:282.87px" class="cls_009"><span class="cls_009">REMAINING HRS(CONSUMABLES):</span></div>
    <div style="position:absolute;left:252.08px;top:282.87px" class="cls_010"><span class="cls_010">_____________</span></div>
    <div style="position:absolute;left:72.03px;top:296.87px" class="cls_008"><span class="cls_008">DATE SCHEDULED:</span></div>
    <div style="position:absolute;left:252.08px;top:296.87px" class="cls_008"><span class="cls_008">_____________</span></div>
    <div style="position:absolute;left:72.03px;top:310.87px" class="cls_008"><span class="cls_008">TIME STARTED:</span></div>
    <div style="position:absolute;left:252.08px;top:310.87px" class="cls_008"><span class="cls_008">_____________</span></div>
    <div style="position:absolute;left:72.03px;top:324.87px" class="cls_008"><span class="cls_008">TIME ENDED:</span></div>
    <div style="position:absolute;left:252.08px;top:324.87px" class="cls_008"><span class="cls_008">_____________</span></div>
    <div style="position:absolute;left:72.03px;top:338.87px" class="cls_008"><span class="cls_008">TOTAL HRS:</span></div>
    <div style="position:absolute;left:252.08px;top:338.87px" class="cls_008"><span class="cls_008">_____________</span></div>
    <div style="position:absolute;left:72.03px;top:378.50px" class="cls_007"><span class="cls_007">JOB ORDER DESCRIPTION: ______________________________________________________</span></div>
    <div style="position:absolute;left:72.03px;top:405.30px" class="cls_007"><span class="cls_007">DESCRIPTION OF WORK:</span><span class="cls_011"> </span><span class="cls_012">(</span></div>
    <div style="position:absolute;left:220.27px;top:405.30px" class="cls_012"><span class="cls_012">PREVENTIVE MAINTENANCE[ ]</span></div>
    <div style="position:absolute;left:390.90px;top:405.30px" class="cls_012"><span class="cls_012">DESKTOP SUPPORT[ ]</span></div>
    <div style="position:absolute;left:510.35px;top:405.30px" class="cls_012"><span class="cls_012">OTHERS[ ])</span></div>
    <div style="position:absolute;left:72.03px;top:577.55px" class="cls_007"><span class="cls_007">Note:</span></div>
    <div style="position:absolute;left:72.03px;top:590.95px" class="cls_011"><span class="cls_011">I hereby authorized LIGHTSAIL IT SOLUTIONS to conduct the Services and Maintenance above</span></div>
    <div style="position:absolute;left:72.03px;top:604.35px" class="cls_011"><span class="cls_011">mentioned “</span><span class="cls_016">Job Order Description</span><span class="cls_011">”</span></div>
    <div style="position:absolute;left:72.03px;top:617.75px" class="cls_011"><span class="cls_011">Any item found defective during the maintenance will billed separately to the CLIENT.</span></div>
    <div style="position:absolute;left:72.03px;top:670.38px" class="cls_008"><span class="cls_008">Prepare By:</span></div>
    <div style="position:absolute;left:396.13px;top:670.38px" class="cls_008"><span class="cls_008">Acknowledged by:</span></div>
    <div style="position:absolute;left:72.03px;top:694.97px" class="cls_006"><span class="cls_006">_______________________</span></div>
    <div style="position:absolute;left:398.33px;top:694.97px" class="cls_006"><span class="cls_006">_______________________</span></div>
    <div style="position:absolute;left:72.03px;top:707.17px" class="cls_013"><span class="cls_013">Signature over Printed name</span></div>
    <div style="position:absolute;left:396.13px;top:707.17px" class="cls_013"><span class="cls_013">Signature over Printed name</span></div>
    <div style="position:absolute;left:259.48px;top:742.17px" class="cls_011"><span class="cls_011"> </span><a href="http://www.lightsailits.com/">www.lightsailits.com</A> </div>
</div>

<button @onclick="OnPrintClickPdffff" class="btn btn-info btn-sm">print</button>