@page "/joborder/print/{Id:int}"
@layout PdfLayout
@inject Services.IJobOrderService jobOrderService
@using Anthurium.API.Dtos

@if (jobOrderReadDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container m-2">
        <div class="row" style="">
            <div class="offset-2 col-sm-4">
                <img src="http://localhost:5002/ezgif-com-gif-maker.png" width="250" height="70">
            </div>
            <div class="col-sm-6">
                <p class="text-left">
                    <small>
                        Ground Floor, Building 4, JDN Square
                        <br />P.Remedio St, Mandaue City, 6014 Cebu
                        <br />Mobile: +63 915 1035 925 | Telephone: 032 319179
                        <br />Email: <u>sales@lightsailits.com</u> | <u>jzafra@lightsailits.com</u>
                    </small>
                </p>
            </div>
        </div>


        <div class="text-center" >
            <div class="row" style="">
                <div class=" col-sm-6" style="float: right;">
                    <h3 style="float: none;">Job Order: </h3>
                </div>
                <div class="  col-6 col-sm-6" style="position: static; float: left;">
                    <h3 style="float: left;"><span class="border">J.O. No.</span>><span class="border">LS-01</span></h3>
                </div>
            </div>
        </div>
    
    <div class="jumbotron" style="background-color: rgb(255, 255, 255);">
            <h1 style="">Heading</h1>


            <p></p>
            <h4 style="float: right;">Subheading</h4>
        </div><div class="jumbotron" style="background-color: rgb(255, 255, 255);">
            <h1 style="">Heading</h1><div class="row" style=""><div class=" col-sm-3"><h3>col-sm-4</h3></div><div class=" col-5 col-sm-3"><h3>col-sm-4</h3></div><div class=" col-sm-3"><h3>col-sm-4</h3></div><div class=" col-5 col-sm-3">Col-3</div></div><div class="row" style=""><div class=" col-sm-3"><h3>col-sm-4</h3></div><div class=" col-5 col-sm-3"><h4>col-sm-4</h4></div><div class=" col-sm-3"><h3>col-sm-4</h3></div><div class=" col-sm-3 col-5">Col-3</div></div><div class="row" style=""><div class="col-sm-4"></div></div>


            <p></p>
            <h1 style="">Heading</h1><div class="row" style=""><div class="col-sm-4"><h3>col-sm-4</h3></div><div class="col-sm-4 col-5"><h3>col-sm-4</h3></div><div class="col-sm-4"></div></div>
        </div>

        <div class="row marketing">
            <div class=" 1 col-5 0 0 col-sm-12 col-lg-12">
                <div class="row" style=""><div class="col-sm-4"></div></div><div class="row" style=""><div class="col-sm-4"></div></div>

                <p><div class="row" style=""><div class="col-sm-4"><h3>col-sm-4</h3></div><div class="col-sm-4 col-5"><h3>col-sm-4</h3></div><div class="col-sm-4"><h3>col-sm-4</h3></div></div>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4><div class="row" style=""><div class="col-sm-4"><h3>col-sm-4</h3></div><div class="col-sm-4 col-5"><h3>col-sm-4</h3></div></div>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>


        </div>

        <footer class="footer">
            <p>© Company 2017</p>
        </footer>

    </div> <!-- /container -->

}
@code {
    [Parameter]
    public int Id { get; set; }

    private JobOrderReadDto jobOrderReadDto;

    protected override async Task OnInitializedAsync()
    {
        jobOrderReadDto = await jobOrderService.GetJobOrderByIdAsync(Id);
    }
}